services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${TEAM_PORT}:80"
    environment:
      - CORE_BASE_URL=http://core:8000
    networks:
      - app404
    depends_on:
      - core

networks:
  app404:
    external: true
    name: app404_net
